app-user-info p-slidemenusub .ui-menuitem .ui-menuitem-link  {
    text-align:left ;
    font-size: 14px !important;
    color: $base-color !important;
    width: 160px !important;
    line-height: 30px;
    &:hover {
        color: $dropdown-hover-text;
    }
}
app-header .ui-slidemenu .ui-slidemenu-wrapper {
    height: 90px !important;
}
.change-password-dialog {
    .ui-dialog-content {
        padding: 0px !important;
    }
    .ui-dialog-content form {
       padding: 30px 20px 0px 15px;
       text-align: left;
       .fa , .fas {
        display:none;
    }
 
    }
    p-footer {
        display: block;
        text-align: right;
        padding-top: 20px;
        display: block;
    }
    input {
        width: 70% !important;
        margin-bottom: 20px;
    }
    .p-msg .ui-messages-error {
        display: block;
        background: #f1f1f1;
        padding: 10px;
        margin-bottom: 10px;
    }
    .p-msg .ui-messages .ui-messages-close {
        top: 15px;
        right: 9px;
    }
    span.ui-messages-error {
        margin-top: -15px;
        display: block;
        min-height: 30px;
    }
}
body .ui-dialog.change-password-dialog .ui-dialog-content form {
   padding: 30px 20px 0px 15px;
   text-align: left;
}
body .ui-dialog.change-password-dialog input {
    width: 70% !important;
    margin-bottom: 20px;
}
body .ui-state-highlight {
    color: #626262;
}

body .ui-dialog .p-msg .ui-messages-error {
    display: block;
    background: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;
}
body .ui-dialog .p-msg .ui-messages .ui-messages-close {
    top: 15px;
    right: 9px;
}
body .ui-dialog span.ui-messages-error {
    margin-top: -15px;
    display: block;
    min-height: 30px;
}