.ui-radiobutton {
    position: relative;
    margin-right: 5px;
    vertical-align: middle;
    .ui-radiobutton-box {
        border: $input-border-size solid $border-neutral;
        width: $input-radio-size;
        height: $input-radio-size;
        display: flex;
        align-items: center;
        justify-content: center;
        @include transition(box-shadow 0.3s);
        border-radius: 50%;
        &.ui-state-active {
            border-color: $border-neutral-dark;
            background-color: transparent;
        }
        &.ui-state-disabled {
            border-color: $input-disabled-state-border;
            background: $input-disabled-state-background;
            .ui-radiobutton-icon {
                &.pi-circle-on:before {
                    background: $input-disabled-state-border;
                }
            }
        }
        &:hover:not(.ui-state-disabled):not(.ui-state-active) {
            transition: all 300ms;
            .ui-radiobutton-icon {
                &:before {
                    content: ' ';
                    display: block;
                    width: $input-radio-cercle-size;
                    height: $input-radio-cercle-size;
                    background: $secondary-color-light;
                    border-radius: 50%;
                }
            }
        }
        .ui-radiobutton-icon {
            display: block;
            position: relative;
            width: $input-radio-cercle-size;
            height: $input-radio-cercle-size;
            margin: 0px;
            left: auto;
            top: auto;
            @include transition(transform ease .28s);
            &.pi-circle-on:before {
                transition: all 200ms;
                content: '';
                display: block;
                width: $input-radio-cercle-size;
                height: $input-radio-cercle-size;
                background: $secondary-color;
                border-radius: 50%;
            }
        }
    }
}
.radio {
    margin: 0px;
    margin-bottom: 5px;
    display: flex;
    float: left;
    align-items: baseline;
    .ui-radiobutton-label {
        margin-bottom: 0;
        margin-right: 10px;
        font-size: 14px;
    }
}