.ui-selectbutton {
    &.ui-state-disabled {
        .ui-button {
            border-color: $input-disabled-state-border;
            &.ui-state-active {
                border-color: $input-disabled-state-border;
                background-color: $input-disabled-state-border;
                color: #fff;
            }
        }
    }
    .ui-button {
        border: 1px solid $border-neutral;
        background: #fff;
        color: $border-neutral;
        height: auto;
        margin-right: -2px;
        margin-bottom: -1px;
        padding: 5px;
        border-radius: 2px;
        font-size: 14px;
        &:not(.ui-state-disabled):not(.ui-state-active):hover {
            background-color: $secondary-color-light;
            border-color: $secondary-color-light;
            color: #fff;
        }
        &.ui-state-active {
            border-color: $secondary-color;
            background-color: $secondary-color;
            color: #fff;
        }
        &.ui-state-disabled {
            border-color: $input-disabled-state-border;
            &.ui-state-active {
                border-color: $input-disabled-state-border;
                background-color: $input-disabled-state-border;
                color: #fff;
            }
        }
    }
}